<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul class="errors">
      <% resource.errors.messages.each do |key, messages| %>
        <% messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
