@import "bootstrap";

.login {
    width: 315px;
    margin-top: 80px;
}

.reset-password {
    width: 280px;
    margin-top: 80px;
}

.send-reset-password-instructions {
    width: 350px;
    margin-top: 80px;
}

.header-logo {
    height: 50px;
    padding-left: 5px;
}

.header-brand {
    font-family: Impact;
    padding-top: 8px;
    padding-left: 3px;
}

.brand {
    display: flex;
}

.field_with_errors {
    width: 100%;
    & > input {
        border-color: #dc3545;
    }
}

.errors {
    color: #dc3545;
    padding-left: 1em;
}