<p>Olá <%= @resource.email %>!</p>

<p>Alguem solicitou um link para troca de senha. Você pode realiza-la através do link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou, por favor ignore esse email.</p>
<p>Sua senha não mudará até você acessar o link acima e criar uma nova.</p>
